.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio_item {
    background: var(--color-bg-match); /* Default background color */
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

/* Hover effect for portfolio item */
.portfolio_item:hover {
    border-color: var(--color-bg-match);
    background: var(--color-primary-match); /* Change hover background */
}

/* Image container styling */
.portfolio_item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

/* Heading in portfolio item */
.portfolio_item h3 {
    margin: 1.2rem 0 2rem;
}

/* Call to action buttons styling */
.portfolio_item-cta {
    margin-left: 2rem;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* Dark Mode Styling for Portfolio */
body.dark-mode .portfolio_item {
    background: var(--color-bg); /* Dark mode background for items */
    border-color: var(--color-primary-dark); /* Dark mode border color */
}

/* Dark mode hover background */
body.dark-mode .portfolio_item:hover {
    background: var(--color-primary-match); /* Dark mode hover background */
    border-color: var(--color-primary-dark); /* Dark mode border on hover */
}

body.dark-mode .portfolio_item-cta a:hover {
    background: linear-gradient(35deg, rgba(77, 181, 255, 0.8), var(--color-primary-dark), rgba(77, 181, 255, 0.9)); /* Dark mode hover background */
    border-color: var(--color-primary-dark);
    color: var(--color-white); /* Dark mode border on hover */
}

/* Dark mode text color in portfolio items */
body.dark-mode .portfolio_item h3 {
    color: var(--color-light); /* Light text color in dark mode */
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES)========== */
@media screen and (max-width:1024px) {
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* ========== MEDIA QUERIES (SMALL DEVICES)========== */
@media screen and (max-width:600px) {
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
