.container.contact_container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 50%;
    gap: 12%;
}

.contact_options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact_option h5 {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.contact_option {
    background: var(--color-bg-match);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact_option:hover {
    background: transparent;
    border-color: var(--color-primary-match);
}

.contact_option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact_option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

/* ========== FORM ==========  */

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,
textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    border: 2px solid var(--color-primary-match);
    resize: none;
    color: var(--color-white);
}

.email-text {
    word-wrap: break-word; /* Ensures text wraps when needed */
    word-break: break-all;  /* Breaks long words at any point */
  }
  

  .contact_form input,
.contact_form textarea {
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid var(--color-primary); /* Green border */
  margin-bottom: 1rem;
}

.contact_form button {
  padding: 0.8rem 2rem;
  border-radius: 5px;
  background-color: var(--color-primary); 
  color: var(--color-bg-dark);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact_form button:hover {
  background-color: var(--color-white);
  color: var(--color-dark); 
}


/* ========== DARK MODE STYLES ========== */

body.dark-mode .contact_option {
    color: var(--color-bg-dark); /* Dark mode background for contact options */
    border-color: var(--color-primary-dark); /* Dark mode border color */
}

body.dark-mode .contact_option:hover {
    background: linear-gradient(35deg, rgba(77, 181, 255, 0.8), var(--color-primary-dark), rgba(77, 181, 255, 0.9)); /* Dark mode hover background */
    border-color: var(--color-primary-match); /* Dark mode hover border color */
}


body.dark-mode .contact_form input,
body.dark-mode .contact_form textarea {
  background-color: var(--color-bg-dark);
  color: #fff;
  border-color: var(--color-primary-dark);
}

body.dark-mode .contact_form button {
  background-color: var(--color-primary);
  color: var(--color-primary-dark);
  border-color: var(--color-bg-match);
}

body.dark-mode .contact_form button:hover {
  background: linear-gradient(5deg, rgba(77, 181, 255, 0.8), var(--color-primary-dark), rgba(77, 181, 255, 0.9));;
  color: var(--color-white);
  border-color: var(--color-primary);
}


/* ========== MEDIA QUERIES (MEDIUM DEVICES)========== */
@media screen and (max-width:1024px) {
    .container.contact_container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* ========== MEDIA QUERIES (SMALL DEVICES)========== */
@media screen and (max-width:600px) {
    .container.contact_container {
        width: var(--container-width-sm);
    }
}
