.footer {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center; /* Center text */
  margin-top: 2rem;
}

.main {
  justify-content: center; /* Center content */
  align-items: center;
  flex-wrap: wrap;
  background: #2c2c6c;
  padding: 20px;
  padding-bottom: 100px;
  width: 100%;
  box-sizing: border-box;
}

.footer_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0; /* Added margin for spacing */
  width: 100%;
}

.footer_logo:hover{
  transform: scale(1.1);
}
.footer_logo img {
  width: 170px;
  height: auto;
}

.footer p {
  font-size: 1.5rem;
  color: white;
  margin: 0;
  margin-bottom: 15px; /* Added margin for spacing */
}

.footer .social {
  display: flex;
  justify-content: center; /* Center social icons */
  align-items: center;
  width: auto; /* Ensure social icons don't stretch */
  gap: 20px; /* Space the social icons out a bit */
}

.footer .social a {
  color: #4db5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background: transparent;
  border-radius: 50%;
  font-size: 2rem;
  margin: 0;
  transition: background 0.3s ease, transform 0.3s ease;
}

.footer .social a:hover {
  background: transparent;
  color: gray;
  transform: scale(1.2);
  border: 2px solid #4db5ff;
}

.footer_copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 1rem;
  color: white;
}

.footer_copyright small {
  color: #fff9;
  font-size: 1.2rem;
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }

  .footer .social {
    width: 100%; /* Make sure the container uses full available width */
    justify-content: center;
    gap: 10px; /* Reduced gap between icons */
    margin-top: 20px;
  }

  .footer p {
    text-align: center;
    margin-bottom: 10px;
  }

  .footer_logo img {
    width: 150px;
  }

  .footer .social a {
    margin: 0 10px; /* Reduced margin between icons */
  }
}
