.space {
  padding: 0rem 5.625rem;
  margin-top: 8rem;
}

.light {
  background-color: #e8f4fd;
  color: #1f1f38;
  --hover: #1f1f38;
  --input: #2c2c6c;
}
.dark {
  background-color: #1f1f38;
  background-image: url(./assets/bg-texture.png);
  color: white;
  --hover: white;
  --input: #4db5ff66;
}


@media screen and (max-width: 767px) {
  .space {
    padding: 0rem 9px;
  }
}
